# Dealing with the NULL values

In [1]:
import numpy as np

1. Finding the NULL values

In [4]:
array=np.array([1,2,3,None,5,None,None,8])
print(array)
print(array==None)

[1 2 3 None 5 None None 8]
[False False False  True False  True  True False]

2. None to np.nan

In [5]:
array[array==None]=np.nan
print(array)

[1 2 3 nan 5 nan nan 8]

3. Checking the nan values

In [9]:
array=np.array([1,2,3,np.nan,5,np.nan,np.nan,8])
print(np.isnan(array))

[False False False  True False  True  True False]

4. Removing the NULL values

In [13]:
print(np.isnan(array))
print(~np.isnan(array))

array=array[~np.isnan(array)]
print(array)

[False False False  True False  True  True False]
[ True  True  True False  True False False  True]
[1. 2. 3. 5. 8.]

5. Filling NULL values with zero

In [14]:
array=np.array([1,2,3,np.nan,5,np.nan,np.nan,8])
print(array)

array[np.isnan(array)]=0
print(array)

[ 1.  2.  3. nan  5. nan nan  8.]
[1. 2. 3. 0. 5. 0. 0. 8.]

6. Filling the NULL value with mean or average

In [15]:
array=np.array([1,2,3,np.nan,5,np.nan,np.nan,8])
print(array)

array[np.isnan(array)]=np.nanmean(array)
print(array)

[ 1.  2.  3. nan  5. nan nan  8.]
[1.  2.  3.  3.8 5.  3.8 3.8 8. ]